@import common/all

// DEATH TO ADS (content for each selector explained below)
// - right column of content
// - suggested posts (HELL YEA!)
#rightCol,
div[data-xt]
  @extend %remove

// Main feed / content area
#contentArea
  // expand content area to fill width
  width: 100% !important
  // center images in posts
  a[href]
    width: auto !important
    margin: 0 !important